.aside-menu {
  margin-top: 15px;
  background-color: white;
  position: relative;

  &__filter-wrapper {
    display: none;
    margin: 0 auto;
    margin-top: 0.5rem;
    @media (min-width:1200px) {
      display: block;
    }
  }

  &__filter-wrapper-visibility {
    display: block;
  }

  &__form-filter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    @media (min-width:1200px) {
      grid-template-columns: 1fr
    }
  }

  &__div-form-filter{
    display: flex;
    flex-direction: column;
  }

  &__div-form-filter > h4,
  &__div-form-filter > label {
    padding: 0.2rem 0;
  }

  &__div-form-filter>label {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.3rem;
  }

  &__button-form-filter {
    padding: 0.5rem 0;
    background-color: rgb(238, 123, 46);
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: rgb(240, 113, 28);
    }
  }
  
}