.basket-course {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 229, 229);
  position: relative;
  @media (min-width:750px) {
    flex-direction: row;
  }

  &__wrapper {
    margin: 1rem;
  }


  &__right-box {
    margin: 1rem;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    @media (min-width:750px) {
      align-self: flex-start;
      margin-top: 1rem;
      width: 60%;
      position: sticky;
      top: 0;
      right: 0;
    }
  }

  &__right-info {
    background-color: white;
    padding: 0.5rem;
    margin: 0 1rem;

    @media (min-width:750px) {
      margin: 0;
    }

    &__title {
      margin: 0.5rem 0;
    }

    &__p {
      margin: 0.3rem 0;
    }

    &__span--bold {
      font-weight: 700;
    }

    &__button {
      display: block;
      color: white;
      border: none;
      padding: 0.4rem 0.6rem;
      background-color: rgb(51, 142, 245);
      width: 70%;
      border-radius: 3px;
      font-size: 1.2rem;
      cursor: pointer;
      margin: 1rem auto;
      margin-bottom: 0;

      &:hover {
        background-color: rgb(29, 129, 243);
      }
    }
  }

  &__right-code {  
    background-color: white;
    padding: 0.5rem;
    margin: 0 1rem;
    margin-top: 1rem;

    &__title {
      margin: 0.5rem 0;
    }

     &__input {
      outline: none;
      padding: 0.2rem;
     }

    @media (min-width:750px) {
      margin: 0;
      margin-top: 1rem;
    }
  }

  &__article {
    display: grid;
    grid-template-rows: auto auto;
    margin-top: 0.5rem;
    

    @media (min-width:750px) {
      
      grid-template-columns: auto 8fr;

    }
  }

  &__img-box {
    padding-bottom: 10px;

    @media (min-width:750px) {
      flex-grow: 1;
      height: auto;
      width: auto;
      padding-bottom: 0px;
      padding-right: 15px;
    }
  }

  &__image {
    width: 100%;


    @media (min-width:750px) {}

  }

  &__information-box {
    padding-bottom: 10px;

    @media (min-width:750px) {
      padding-bottom: 0px;
      padding-right: 15px;
    }
  }

  &__authors {
    font-size: 0.9rem;
  }

  &__title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
  }

  &__info {
    margin-top: 10px;
  }

  &__price-box {
    text-align: end;
  }

  &__span--bold,
  &__price {
    font-weight: 700;
    font-size: 1.2rem;
  }

  &__price {
    color: red;
    font-size: 1.5rem;
  }

  &__btn-delete {
    border: none;
    border-radius: 5px;
    margin-top: 0.4rem;
    color: rgb(172, 170, 170);
    background-color: white;
    font-size: 1rem;
    cursor: pointer;
  }

  &__paymnets {
    margin-top: 1rem;
    background-color: white;
    padding: 0.5rem;
    
  }

  &__container-articel {
    background-color: white;
    padding: 0.5rem;
  }

  &__img-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    @media (min-width:750px) {
      justify-content: flex-start;
    }
  }

  &__imageBaskte {
    width: 20%;
    border: 1px solid rgb(216, 215, 215);

    @media (min-width:750px) {
      width: 10%;
      margin-left: 5px;
    }
  }

  &__empty-div {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  &__empty-title {
    font-size: 1.3rem;
    font-weight: 700;
    
  }

  &__empty-btn {
    border: none;
    margin-left: 0.5rem;
    font-weight: 700;
    font-size: 1.3rem;
    background-color: white;
    cursor: pointer;
    text-decoration: underline;
  }

  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}